html{
    background-color: black;
}
h1{
    text-align: center;
    color: whitesmoke;
}
.web{
    text-align: center;
}
h3{
    text-align: center;
}
div{
    text-align: center;
}
h2{
    color: whitesmoke;
}